.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-left: 48px;
}

.fa {
 
    border-width: thin;
    border-spacing: 20px;
    border-color: green;
    
}




/* media Queries */

@media only screen and (min-width:500px){
    .img{
        width:60%
    }
}

@media only screen and (min-width:576px){
    .img{
        width:100%
    }
}

@media only screen and (min-width:768px){
    .img{
        width:110%
    }
}
.btn {
    border-radius: 15.23rem;
margin-left: 85px;
margin-right: 10rem;

  
}

.btn[_ngcontent-lco-c58]:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-left:70%;
  
  
}


body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    align-items: right;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 80%;
    border-radius: 1px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
  
  body {
      background-color: #eeeeee;
      font-family: 'Open Sans', serif;
      font-size: 14px
  }
  
  .container-fluid {
      margin-top: 70px
  }
  
  .card-body {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.40rem
  }
  
  .img-sm {
      width: 80px;
      height: 80px
  }
  
  .itemside .info {
      padding-left: 15px;
      padding-right: 7px
  }
  
  .table-shopping-cart .price-wrap {
      line-height: 1.2
  }
  
  .table-shopping-cart .price {
      font-weight: bold;
      margin-right: 5px;
      display: block
  }
  
  .text-muted {
      color: #969696 !important
  }
  
  a {
      text-decoration: none !important
  }
  
  .card {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: 0px
  }
  
  .itemside {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%
  }
  
  .dlist-align {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }
  
  [class*="dlist-"] {
      margin-bottom: 5px
  }
  
  .coupon {
      border-radius: 1px
  }
  
  .price {
      font-weight: 600;
      color: #212529
  }
  
  .btn.btn-out {
      outline: 1px solid #fff;
      outline-offset: -5px
  }
  
  .btn-main {
      border-radius: 2px;
      text-transform: capitalize;
      font-size: 15px;
      padding: 10px 19px;
      cursor: pointer;
      color: #fff;
      width: 100%
  }
  .wrapper {
    text-align: right;
    align-content: right;
}

.button {
    position: absolute;
    top: 50%;
}
  
  .btn-light {
      color: #ffffff;
      background-color: #F44336;
      border-color: #f8f9fa;
      font-size: 12px
  }
  
  .btn-light:hover {
      color: #ffffff;
      background-color: #F44336;
      border-color: #F44336
  }
  
  .btn-apply {
      font-size: 11px
  }